<div class="container">

<h3>Employee Form</h3>
<form #form="ngForm"  (submit)="submitForm(form)" novalidate>
     <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched" >
   <label  class="control-label" >First Name</label>
        <input #firstName="ngModel" pattern="...+" type="text"  required  class="form-control" placeholder="FirstName" name="firstName"
               [(ngModel)]="model.firstName"
         > 

         <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
           First Name is Required nd must be atleaset 3 characters
         </div>
    </div> 

   
    
    <div class="form-group">
            <label >Last Name</label>
                 <input  type="text" class="form-control" placeholder="LastName" name="lastName" 
                 [(ngModel)]="model.lastName"> 
             </div>
 <div class="checkbox">
    <label>
        <input type="checkbox" name="is-full-time"
         [(ngModel)]="model.isFulTime">Full Time Employee
    </label>
</div>

<label>Payment Type</label>
<div class="radio">
    <label>
        <input type="radio" name="paymentType" value="w2" checked
        [(ngModel)]="model.paymentType">
        w2
    </label>
</div>
<div class="radio">
        <label>
            <input type="radio" name="paymentType" value="1099" 
            [(ngModel)]="model.paymentType">
            1099
        </label>
    </div>

    
    <div class="form-group">
            <label>Primary Language</label>
             <select class="form-control" #primaryLanguage="ngModel"
             name="primaryLanguage" 
             (blur)="validatePrimaryLanguage(primaryLanguage.value)"
             (change)="validatePrimaryLanguage(primaryLanguage.value)"

             [(ngModel)]="model.primaryLanguage" >
              <option value="default">Select a Language...</option>
                 <option *ngFor="let lang of languages">
                     {{lang}}
                 </option>
             </select>
             <div  class="alert alert-danger" *ngIf="hasPrimaryLanguageError"
             
             >
                   Select Valid Language  </div>
        </div>

       <div class="form-group">
                <label>Date Hired</label>
                     <input type="date" class="form-control"> 
                 </div>  
                
        <button  class="btn btn-primary" type="submit"
        [disabled]="form.invalid"
        >OK</button>
</form>
Model:{{model | json}}
</div>
<br>
Angular:{{form.value | json}}
{{form.pristine}}